<nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/Gallery">Servies</a></li>
      <li><a routerLink="/Gallery">Gallery</a></li>
      

      
    </ul>
  </nav>
  
  