nav {
    background-color: #c872ea;
    color: white;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  