<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SignIn Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="signin.component.css">
  </head>
  <body>
    
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
            <h2 class="text-center"><strong>Welcome Back!</strong></h2>
            <div class="form-group">
              <input class="form-control" type="Username" name="email" ngModel placeholder="Username" required>
            </div>
			<div *ngIf="" >

			</div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" ngModel placeholder="Password" required>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <div class="form-check"> 
                  <input class="form-check-input" type="checkbox" name="rememberMe" ngModel id="flexCheckDefault"> 
                  <label class="form-check-label" for="flexCheckDefault"> Remember me </label> 
                </div>
                <div> <a href="#" class="text-info">Forgot Password</a> </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block btn-info" type="submit">Signin</button>
            </div>
			<p>Don't have an account? </p>
			<a routerLink="/signup">
				<div class="form-group">
				  <button class="btn btn-success btn-block btn-info" type="submit">Signup</button>
				</div>
			  </a>
			  
        </form>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
