<a href=""class="logo"><i class="fas fa-heart"></i>&nbsp;wed<span>Me</span>Good&nbsp;<i class="fas fa-heart"></i>/a>
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#service">Service</a>
        <a href="#vendor">vendor</a>
        <a href="#venue">venue</a>
        <a href="#invite">invite</a>
        <a href="#contact">contact</a>
      </nav>
      <div id="menu-bar"><i class="fas fa-bar="></i></div>

